.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.dashboard-logo  {
  width: 80px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.dashboard-logo img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}
